@import "../../media";

.footer {
  box-sizing: border-box;
  box-shadow: 0 0 8px 1px rgb(205, 205, 205);
  border-radius: 10px;
  padding: 0 8px;

  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(313px, 1fr));
    justify-content: center;

    @include s {
      justify-items: center;
    }

    .menu__left {
      display: flex;
      flex-wrap: wrap;

      .list {
        @include s {
          width: 150px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0;
        }

        @include m {
          width: 100%;
        }
        .title {
          font-size: 1.2rem;
          font-weight: bold;

          @include m {
            font-size: 1rem;
          }
        }

        * {
          margin-bottom: 0.5rem;
          cursor: pointer;
        }
      }
    }

    .menu__right {
      justify-self: end;
      width: max-content;

      @include s {
        text-align: center;
        justify-self: center;
      }

      @include m {
        width: 50%;
      }

      .form {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;

        @include s {
          justify-content: center;
        }

        .input {
          padding-left: 10px;
          border: none;
          box-shadow: 0 5px 8px 1px rgb(205, 205, 205);
          border-radius: 10px;
          font-size: 1.2rem;
        }
        .btn {
          cursor: pointer;
          width: max-content;
          padding: 10px;
          color: white;
          border-radius: 20px;
          border: none;
          background-color: rgb(43, 108, 176);
        }
      }
      .socials {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        color: rgb(43, 108, 176);
      }
    }
  }
  .powered {
    text-align: center;
  }
}
